<!doctype html>
<html class="no-js" lang="en">

    <!--====== Head Start ======-->

  <%- include('partials/blog/header') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>
    
    <!--====== Navigation Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" 
        style="background-image: url(/assets/images/blog/blogger.jpg);
        background-color: #24242475;
        background-blend-mode: overlay;">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 style="color: white;">Blog &nbsp; <i class="fa fa-angle-right"></i> &nbsp; Category &nbsp; <i class="fa fa-angle-right"></i> &nbsp; <%= categoryLink %></h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Blog Start ======-->

    <section class="blog-page">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-8">
                    <div class="row">
                        <% postByCategory.forEach(function(i){ %>
                        <div class="col-md-6">
                            <div class="single-blog mt-30">
                                <div class="blog-image">
                                    <a href="/blog/post/<%= i.id %>">
                                        <img src="data:image/<%= i.image.contentType%>;base64,<%= i.image.data.toString('base64') %>" alt="blog image">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <ul class="meta">
                                        <li><a href="#"><%= i.timestamp %></a></li>
                                        <li><a href="#">By: <%= i.author %></a></li>
                                    </ul>
                                    <h4 class="blog-title"><a href="/blog/post/<%= i.id %>"><%= i.title %></a></h4>
                                    <a href="/blog/post/<%= i.id %>" class="more">Read more <i class="fal fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div> 
                        <% }) %>                       
                    </div>
                    <ul class="pagination-items text-center">
                        <li><a class="active" href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#">04</a></li>
                        <li><a href="#">05</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="blog-sidebar">
                        <div class="blog-sidebar-category mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Categories</h4>
                            </div>
                            <ul class="category-items">
                                <% for(var i = 0; i < categoryName.length; i++){ %>
                                    <li>
                                    <div class="form-radio">
                                        <form action="/blog/category" method="post">
                                        <% if(categoryName[i] == categoryLink){ %>
                                            <input type="radio" value="<%= categoryName[i] %>" name="categoryRadio" checked id="categoryRadio<%= i %>" onchange="this.form.submit()">
                                            <label for="categoryRadio<%= i %>"> <span></span> <%= categoryName[i] %> <strong>(<%= categoryNumber[i] %>)</strong></label>
                                        <% }else{ %>
                                            <input type="radio" value="<%= categoryName[i] %>" name="categoryRadio" id="categoryRadio<%= i %>" onchange="this.form.submit()">
                                            <label for="categoryRadio<%= i %>"> <span></span> <%= categoryName[i] %> <strong>(<%= categoryNumber[i] %>)</strong></label>
                                        <% } %>
                                        </form>
                                    </div>
                                    </li>
                                <% }  %>
                            </ul>
                        </div>

                        <div class="blog-sidebar-post mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Recent Post</h4>
                            </div>
                            <ul class="post-items">
                                <% posts.forEach(post=>{ %>
                                <li>
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="/blog/post/<%= post.id %>"><img src="data:image/<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" alt="image of post" width="100" height="73"></a>
                                        </div>
                                        <div class="post-content">
                                            <h4 class="post-title"><a href="/blog/post/<%= post.id %>"><%= post.title%></a></h4>
                                            <a href="/blog/post/<%= post.id %>" class="more">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <% }) %>
                            </ul>
                        </div>

                        <div class="blog-sidebar-tags mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Authors</h4>
                            </div>
                            <ul class="tags-items">
                                <% authors.forEach(function(author){ %>
                                    <li><a href="#"><%= author%></a></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== Blog Ends ======-->
    
    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->   

    <script>
        $('input[type=radio]').on('change', function (e) {
            $('input[type=radio]').prop('checked', false);
            $(this).prop('checked', true);
        })
    </script>
</body>

</html>
