<!doctype html>
<html class="no-js" lang="en">

    <!--====== Head Start ======-->

  <%- include('partials/header') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" style="background-image: url(/assets/images/page-banner.jpg);">
            <div class="container">
                <div class="banner-content text-center">
                   <h2 style="color: white;">Blog-Details </h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Blog Details Start ======-->

    <section class="blog-details-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-details-content">
                        <div class="details-content mt-50">
                            <img src="data:image/<%= post.image.contentType%>;base64,
                <%=post.image.data.toString('base64')%>" alt="<%= post.title%>" width="771" height="450">
                            <ul class="meta">
                                <li><a href="#"><%= post.timestamp%></a></li>
                                <li><a href="#">By: <%= post.author%></a></li>
                                <!-- <li><a href="#">12 Comments</a></li> -->
                            </ul>
                            <h3 class="title"><%= post.title%></h3>

                            <p id="mainPost"> <%- post.content %></p>

                            <ul class="blog-list">
                                
                            </ul>

                            <div class="blog-tags">
                                <span>Category:</span>
                                <ul class="tags">
                                    <li><a href="/blog/category/<%= post.category%>"><%= post.category%></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-sidebar right-sidebar pt-20">
                        <div class="blog-sidebar-category mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Categories</h4>
                            </div>
                            <ul class="category-items">
                                <% for(var i = 0; i < categoryName.length; i++){ %>
                                <li>
                                    <div class="form-radio">
                                        <form action="/blog/category" method="post">
                                            <input type="radio" value="<%= categoryName[i] %>" name="categoryRadio" id="categoryRadio<%= i %>" onchange="this.form.submit()">
                                            <label for="categoryRadio<%= i %>"> <span></span> <%= categoryName[i] %> <strong>(<%= categoryNumber[i] %>)</strong></label>
                                        </form>
                                    </div>
                                </li>
                                <% }  %>
                            </ul>
                        </div>

                        <div class="blog-sidebar-post mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Recent Post</h4>
                            </div>
                            <ul class="post-items">
                                <% posts.forEach((post) => { %>
                                <li>
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="<%= post.id%>"><img src="data:image/<%= post.image.contentType%>;base64,<%= post.image.data.toString('base64') %>" alt="blog-image" width="100" height="73"></a>
                                        </div>
                                        <div class="post-content">
                                            <h4 class="post-title"><a href="<%= post.id%>"><%= post.title%></a></h4>
                                            <a href="<%= post.id%>" class="more">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <% }) %>
                            </ul>
                        </div>

                        <!-- <div class="blog-sidebar-banner mt-30">
                            <a href="#">
                                <img src="/assets/images/product/banner.jpg" alt="">
                            </a>
                        </div> -->

                        <div class="blog-sidebar-tags mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Tags</h4>
                            </div>
                            <ul class="tags-items">
                                <% post.tags.forEach((tag) => { %>
                                <li><a href="/blog/tags/<%= tag %>"><%= tag %></a></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== Blog Details Ends ======-->
     
    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->    

    <script>
        $('input[type=radio]').on('change', function (e) {
            $('input[type=radio]').prop('checked', false);
            $(this).prop('checked', true);
        })
        
    </script>

    

</body>

</html>
