<!doctype html>
<html class="no-js" lang="en">

    <!--====== Head Start ======-->

    <%- include('partials/header') %>

    <!--====== Head Ends ======-->

  <body>

    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" 
        style="background-image: url(/assets/images/bg/band.jpg);
        background-color: #24242475;
        background-blend-mode: overlay;">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">Course Details</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Courses Details Start ======-->

    <section class="courses-details">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="courses-details-content mt-50">
                        <img src="/assets/images/courses/<%=course.img%>" alt="course image">
                        
                        <h2 class="title" style="font-size: 40px;">
                            <%=course.fulltitle%>
                        </h2>

                        <!-- <p>Even slightly believable. If you are going use a passage of Lorem Ipsum need equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish</p> -->

                        <h5 class="sub-title">Course Overview</h5>

                        <p> <%=course.overview%> </p>

                        <!-- <ul class="courses-details-list">
                            <li>
                                <i class="far fa-check-circle"></i>
                                <p>Bachelor of Business Administration(BBA) If you are going use a passage of blame belongs to those who fail in their duty through weakness </p>
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                <p>Bachelor of Business Administration(BBA) If you are going use a passage of blame belongs to those who fail in their duty through weakness </p>
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                <p>Bachelor of Business Administration(BBA) If you are going use a passage of blame belongs to those who fail in their duty through weakness </p>
                            </li>
                        </ul> -->
                    </div>

                    <div class="courses-details-tab">
                        <ul class="nav nav-justified" role="tablist">
                            <li class="nav-item"><a class="active" data-toggle="tab" href="#benefit" role="tab">Benefit</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#curriculum" role="tab">Course Curriculum</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#teachers" role="tab">Teachers</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#reviews" role="tab">Reviews</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="benefit" role="tabpanel">
                                <div class="benefit-content">
                                    <!-- <p></p> -->
                                    <ul class="courses-details-list">
                                        <% course.benefits.forEach(function(benefit){ %>
                                        <li>
                                            <i class="far fa-check-circle"></i>
                                            <p> 
                                                <%= benefit%>
                                            </p>
                                        </li>
                                        <% }) %> 
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="curriculum" role="tabpanel">
                                <div class="curriculum-content">
                                    <div class="row">
                                        <% if(course.title == '80 Solo Techniques in 4 Weeks'){ %>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="single-curriculum">
                                                <h4 class="title">Beginner</h4>
                                                <ul class="curriculum-list">
                                                    <% course.modules.slice(0, 10).forEach(function(lesson){ %>
                                                    <li><a href="/course/<%= course.link%>/lesson/<%= lesson.lesson%>"><i class="fal fa-book"></i> Lessons <%= lesson.lesson%>: <%= lesson.name%></a></li>
                                                    <% }) %> 
                                                </ul>
                                            </div>                                           
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="single-curriculum">
                                                <h4 class="title">Intermediate</h4>
                                                <ul class="curriculum-list">
                                                    <% course.modules.slice(10, 18).forEach(function(lesson){ %>
                                                    <li><a href="/course/<%= course.link%>/lesson/<%= lesson.lesson%>"><i class="fal fa-book"></i> Lessons <%= lesson.lesson%>: <%= lesson.name%></a></li>
                                                    <% }) %> 
                                                </ul>
                                            </div>                                           
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="single-curriculum">
                                                <h4 class="title">Advance</h4>
                                                <ul class="curriculum-list">
                                                    <% course.modules.slice(18, ).forEach(function(lesson){ %>
                                                    <li><a href="/course/<%= course.link%>/lesson/<%= lesson.lesson%>"><i class="fal fa-book"></i> Lessons <%= lesson.lesson%>: <%= lesson.name%></a></li>
                                                    <% }) %> 
                                                </ul>
                                            </div>                                           
                                        </div>
                                    <% }else{ %>
                                        <%var n = course.modules.length/3;%>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="single-curriculum">
                                                <h4 class="title">Beginner</h4>
                                                <ul class="curriculum-list">
                                                    <% course.modules.slice(0, (n)).forEach(function(lesson){ %>
                                                    <!-- <li><a href="/course/<%= course.link%>/lesson/<%= lesson.lesson%>"><i class="fal fa-book"></i> Lessons <%= lesson.lesson%>: <%= lesson.name%></a></li> -->
                                                    <li><a href="#!"><i class="fal fa-book"></i> Lessons <%= lesson.lesson%>: <%= lesson.name%></a></li>
                                                    <% }) %> 
                                                </ul>
                                            </div>                                           
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="single-curriculum">
                                                <h4 class="title">Intermediate</h4>
                                                <ul class="curriculum-list">
                                                    <% course.modules.slice((n), (n*2)).forEach(function(lesson){ %>
                                                    <!-- <li><a href="/course/<%= course.link%>/lesson/<%= lesson.lesson%>"><i class="fal fa-book"></i> Lessons <%= lesson.lesson%>: <%= lesson.name%></a></li> -->
                                                    <li><a href="#!"><i class="fal fa-book"></i> Lessons <%= lesson.lesson%>: <%= lesson.name%></a></li>
                                                    <% }) %> 
                                                </ul>
                                            </div>                                           
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="single-curriculum">
                                                <h4 class="title">Advance</h4>
                                                <ul class="curriculum-list">
                                                    <% course.modules.slice((n*2), ).forEach(function(lesson){ %>
                                                    <!-- <li><a href="/course/<%= course.link%>/lesson/<%= lesson.lesson%>"><i class="fal fa-book"></i> Lessons <%= lesson.lesson%>: <%= lesson.name%></a></li> -->
                                                    <li><a href="#!"><i class="fal fa-book"></i> Lessons <%= lesson.lesson%>: <%= lesson.name%></a></li>
                                                    <% }) %> 
                                                </ul>
                                            </div>                                           
                                        </div>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="teachers" role="tabpanel">
                                <div class="courses-teachers">
                                    <div class="row">
                                        <% allTutors.forEach(function(i) { %>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="single-teacher mt-30 text-center">
                                                <div class="teacher-social">
                                                    <% i.contact.forEach(function(j){ %>
                                                    <ul class="social">
                                                        <li><a href="<%= j.fb%>"><i class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="<%= j.phone%>"><i class="fa fa-phone"></i></a></li>
                                                        <li><a href="<%= j.ig%>"><i class="fab fa-instagram"></i></a></li>
                                                        <li><a href="<%= j.email%>"><i class="fa fa-envelope"></i></a></li>
                                                    </ul>
                                                    <%})%>
                                                </div>
                                                <div class="teacher-image">
                                                    <a href="/tutors/<%=i.name%>">
                                                        <img src="/assets/images/teachers/<%=i.image%>" alt="teacher">
                                                    </a>
                                                </div>
                                                <div class="teacher-content">
                                                    <h4 class="name"><a href="/tutors/<%=i.name%>"><%=i.fullname%></a></h4>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <% })%>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel">
                                <div class="courses-reviews">
                                    <div class="review-wrapper">
                                        <div class="review-star">
                                            <div class="single-review">
                                                <span class="label">Stars 5</span>
                                                <div class="review-bar">
                                                    <div class="bar-inner" style="width: 100%;"></div>
                                                </div>
                                                <span class="value">35</span>
                                            </div>
                                            <div class="single-review">
                                                <span class="label">Stars 4</span>
                                                <div class="review-bar">
                                                    <div class="bar-inner" style="width: 80%;"></div>
                                                </div>
                                                <span class="value">10</span>
                                            </div>
                                            <div class="single-review">
                                                <span class="label">Stars 3</span>
                                                <div class="review-bar">
                                                    <div class="bar-inner" style="width: 55%;"></div>
                                                </div>
                                                <span class="value">8</span>
                                            </div>
                                            <div class="single-review">
                                                <span class="label">Stars 2</span>
                                                <div class="review-bar">
                                                    <div class="bar-inner" style="width: 0;"></div>
                                                </div>
                                                <span class="value">0</span>
                                            </div>
                                            <div class="single-review">
                                                <span class="label">Stars 1</span>
                                                <div class="review-bar">
                                                    <div class="bar-inner" style="width: 0;"></div>
                                                </div>
                                                <span class="value">0</span>
                                            </div>
                                        </div>
                                        <div class="review-point">
                                            <span>4.9</span>
                                        </div>
                                    </div>

                                     
                                    <div class="review-form">
                                        <div class="review-rating">
                                            <h5 class="title">Write a Review</h5>

                                            <ul id='stars'>
                                                <li class='star' title='Poor' data-value='1'>
                                                  <i class='fas fa-star'></i>
                                                </li>
                                                <li class='star' title='Fair' data-value='2'>
                                                  <i class='fas fa-star'></i>
                                                </li>
                                                <li class='star' title='Good' data-value='3'>
                                                  <i class='fas fa-star'></i>
                                                </li>
                                                <li class='star' title='Excellent' data-value='4'>
                                                  <i class='fas fa-star'></i>
                                                </li>
                                                <li class='star' title='WOW!!!' data-value='5'>
                                                  <i class='fas fa-star'></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="review-form-wrapper">
                                            <form id="review" action="/review" method="post">
                                                <input type="text" hidden id="myRating" value="" name="rating">
                                                <input type="text" hidden id="title" value="<%=course.title%>" name="title">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="single-form">
                                                            <input type="text" name="name" placeholder="Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="single-form">
                                                            <input type="email" name="email" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-6">
                                                        <div class="single-form">
                                                            <input type="text" name="phone" placeholder="Phone">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="single-form">
                                                            <input type="text" name="title" placeholder="Title of Course" required>
                                                        </div>
                                                    </div> -->
                                                    <div class="col-md-12">
                                                        <div class="single-form">
                                                            <textarea name="review" placeholder="Write here..."></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="single-form">
                                                            <button class="main-btn" type="submit">Submit now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="sidebar-btn" style="margin: 80px auto 0; width: 300px; " >
                                <a class="main-btn" href="/enroll/<%=course.link%>">Enroll Course / Resume</a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="courses-sidebar pt-20">
                        <div class="courses-features mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Course Features</h4>
                            </div>
                            <ul class="courses-features-items">
                                
                                <li>Fee <strong style="position: relative;"> $ <%= course.fee_$ %> | NGN <%= course.fee_N %> </strong></li>
                                <li>Duration <strong><%= course.duration%></strong></li>
                                <li>Lessons <strong><%= course.lesson%></strong></li>
                                <!-- <li>Semester <strong>12</strong></li> -->
                                <li>Certification <strong>Yes</strong></li>
                                <!-- <li>Pass Parcentages <strong>80%</strong></li> -->
                                <!-- <li>Maximum Retakes <strong>5</strong></li> -->
                                <li>Rating <strong><%= course.rating%> (<%= course.ratingNumber%> reviews)</strong></li>
                            </ul>
                            <div class="sidebar-btn">
                                <a class="main-btn" href="/enroll/<%=course.link%>">Enroll Course / Resume</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== Courses Modal Starts ======-->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">MODERN JAZZ WITH NOELS SPONSORSHIP OFFER.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
            Get the opportunity to get the course at a huge discount of 88% <span style="color: #f23f00; font-weight: 600;"> (NGN 5 000 | $ 13) </span> for the next 11 days.
            <br>
            <br>
            <ul>
                <li>Old Price: NGN 40 000 | $ 100 </li>
                <li>Now: NGN 5 000 | $ 13 </li>
            </ul>
            <br>
            Grab this offer now !!!
          </div>
          <div class="modal-footer">
            <button type="button" class="main-btn mybtn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->
    <!--====== Courses ModaL Ends ======-->

    <!--====== Courses Details Ends ======-->
    
    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->

    <script>
      $(window).on('load', function() {
        $('#myModal').modal('show');
    });
    </script>
    
</body>

</html>
