
<!DOCTYPE html>
<html lang="en">

<%- include('partials/dashboard/dashHeader') %>

  <body class="<%= theme%>">
    <%- include('partials/dashboard/dashLeftNav') %>
    <div class="main-panel">
      <!-- Navbar -->
      
      <%- include('partials/dashboard/dashNav') %>

      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Edit Profile</h5>
              </div>
              <div class="card-body">
                <form action="/dashboard-user" method="post" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-md-3 pr-md-1">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="fname" readonly value="<%= foundUser.fname%>">
                      </div>
                    </div>
                    <div class="col-md-3 px-md-1">
                      <div class="form-group">
                        <label for="">Last Name</label>
                        <input type="text" readonly  name="lname"  class="form-control" value="<%= foundUser.lname%>">
                      </div>
                    </div>
                    <div class="col-md-3 px-md-1">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" readonly class="form-control" name="name"  value="<%= foundUser.nick%>">
                      </div>
                    </div>
                    <div class="col-md-3 pl-md-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" readonly  class="form-control" name="email" value="<%= foundUser.username%>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Home Address" name="address" value="<%= foundUser.address %>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-md-1">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" placeholder="City" name="city" value="<%= foundUser.city %>">
                      </div>
                    </div>
                    <div class="col-md-4 px-md-1">
                      <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" placeholder="Country" name="country" value="<%= foundUser.country %>">
                      </div>
                    </div>
                    <div class="col-md-4 pl-md-1">
                      <div class="form-group">
                        <label>Postal Code</label>
                        <input type="number" class="form-control" placeholder="Zip Code" name="zipCode" value="<%= foundUser.zipCode%>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>About Me</label>
                        <textarea rows="4" cols="80" required name="details" class="form-control" 
                        placeholder="Please write a short description about yourself. It would over ride the initial description, to prevent that, copy and paste the details from the preview section." value=""></textarea>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Upload Profile Image</label>
                        <input class="form-control" type="file" name="file" id="upload" single>
                    </div>
                  </div>
                  <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Save</button>
              </div>
                </form>
              </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-user">
              <div class="card-body">
                <p class="card-text">
                  <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <a href="javascript:void(0)">
                      <% if(foundUser.image){ %>
                      <img class="avatar" src="data:image/<%= foundUser.image.contentType%>;base64,
                      <%=foundUser.image.data.toString('base64')%>" alt="user profile pic">
                      <% } else{ %>
                        <img class="avatar" src="./assets/images/dashboard/emilyz.jpg" alt="user profile pic">
                      <% } %>
                      
                      <h5 class="title primary"> <%= foundUser.fname%> <%= foundUser.lname%></h5>
                    </a>
                    <p class="description">
                      <%= foundUser.nick%>
                    </p>
                  </div>
                </p>
                <div class="card-description">
                  <% if(foundUser.details){ %>
                      <%= foundUser.details %>
                      <% } else{ %>
                        Modern Jazz with Noels - You too can play. Do not be scared
                         of the truth because we need to restart the human foundation
                          in truth And I love you like Kanye loves Kanye...
                      <% } %>
                </div>
              </div>
              <div class="card-footer">
                <div class="button-container">
                  <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                    <i class="fab fa-facebook-f"></i>
                  </button>
                  <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                    <i class="fab fa-instagram " style="font-size: 1.2em;"></i>
                  </button>
                  <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                    <i class="fab fa-twitter"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('partials/dashboard/dashFooter') %>
    </div>
  </div>
  
  <!-- DASHBOARD THEME STARTS -->
  
      <%- include('partials/dashboard/dashTheme') %>

    <!-- DASHBOARD THEME ENDS -->

    <!-- SCRIPTING FILE STARTS -->

      <%- include('partials/dashboard/dashScript') %>
      
    <!-- SCRIPTING FILE ENDS -->
</body>

</html>