<!DOCTYPE html>
<html lang="en">
  
  <%- include('partials/dashboard/dashHeader') %>

  <body class="<%= theme%>">

    <%- include('partials/dashboard/dashLeftNav') %>
    
      <div class="main-panel">
        <!-- Navbar -->
        
        <%- include('partials/dashboard/dashNav') %>

        <!-- End Navbar -->
        <div class="content">
          <div class="row">
            
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div style="display: flex; justify-content: space-between;">
                    <div>
                      <h4 class="card-title">Recent Notifications</h4>
                      <p class="category">
                        View all notifications
                      </p>
                    </div>
                    <div>
                      <i class="tim-icons icon-bell-55 mycol-alt"></i>
                    </div>
                  </div>
                </div>
                <div class="card-body">

                  <% foundUser.notification.reverse().forEach(function(notif ){ %>
                  <form action="/dashboard-notification" method="post">
                    <div class="alert mybg">
                    <button
                      type="button"
                      aria-hidden="true"
                      class="close"
                      aria-label="Close"
                    >
                      <label style="color: #ffffff;" for="<%= notif._id %>"><i class="tim-icons icon-simple-remove"></i></label>
                    </button>
                    <span><%= notif.message %></span>
                    <input type="checkbox" id="<%= notif._id %>" name="checkbox" value="<%= notif._id %>" onchange="this.form.submit()" hidden>
                    </div>
                  </form>
                  <% }) %>
                
                  
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('partials/dashboard/dashFooter') %>

      </div>
    </div> 

    <!-- SCRIPTING FILE STARTS -->

      <%- include('partials/dashboard/dashScript') %>

    <!-- SCRIPTING FILE ENDS -->
  </body>
</html>
