<!doctype html>
<html class="no-js" lang="en">

<!--====== Head Start ======-->

  <%- include('partials/header') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover"
         style="background-image: url(/assets/images/bg/tutor.jpg);
         background-color: #24242475;
         background-blend-mode: overlay;">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">Tutor Details</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Teacher Details Start ======-->

    <section class="teacher-details">
        <div class="container">
            <div class="row teachers-row justify-content-center">
                <%  tutor.contact.forEach(function(i){ %> 
                <div class="col-lg-5 col-md-6 col-sm-8 teachers-col">
                    <div class="single-teacher-details mt-50 text-center">
                        
                        <div class="teacher-social">
                            <ul class="social">
                                <li><a href="<%= i.fb %>"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="<%= i.twitter%>"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="<%= i.ig %>"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="teacher-image">
                                <!-- <a href="#"> -->
                                <img src="/assets/images/teachers/<%= tutor.image %>" alt="teacher">
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 teachers-col">
                    <div class="teacher-details-content mt-45">
                        <h4 class="teacher-name"><%= tutor.fullname%></h4>
                        <!-- <span class="designation">Assistant Professor</span> -->
                        <span class="department"><%= tutor.role%></span>
                        <p><%= tutor.description %> </p>
                        
                        <ul class="teacher-contact">
                            <li><strong>Email:</strong> <a href="mailto:<%= i.email %>" target="_blank"><%= i.email %></a></li>
                            <li><strong>Phone:</strong> <a href="tel:<%= i.phone %>"><%= i.phone %></a></li>
                        </ul>
                        
                    </div>
                </div>
                <%}) %>
            </div>

            <!-- <div class="teacher-details-tab">
                <ul class="nav nav-justified" role="tablist">
                    <li class="nav-item"><a class="active" data-toggle="tab" href="#experience" role="tab">Experience</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#educational" role="tab">Qualification</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#achievements " role="tab">Achievements </a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="experience" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-content-tab">
                                    <h4 class="title">Head of Department</h4>
                                    <p>Business Administration</p>
                                    <p>Boston University</p>
                                    <p>2015 to till now</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-content-tab">
                                    <h4 class="title">Professor</h4>
                                    <p>Business Administration</p>
                                    <p>Boston University</p>
                                    <p>2012 to 2013</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-content-tab">
                                    <h4 class="title">Assistant Professor</h4>
                                    <p>Business Administration</p>
                                    <p>Boston University</p>
                                    <p>2010 to 2012</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-content-tab">
                                    <h4 class="title">Lecturer</h4>
                                    <p>Business Administration</p>
                                    <p>Boston University</p>
                                    <p>2008 to 2010</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="educational" role="tabpanel">                        
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="single-content-tab">
                                    <h4 class="title">PhD. in Business Studies</h4>
                                    <p>Boston University</p>
                                    <p>2005 - 2006</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single-content-tab">
                                    <h4 class="title">Diploma in It Professional</h4>
                                    <p>Boston University</p>
                                    <p>2007 to 2008</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single-content-tab">
                                    <h4 class="title">Diploma in Social Media</h4>
                                    <p>Yale University</p>
                                    <p>2010 to 2012</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="achievements" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="single-content-tab">
                                    <h4 class="title">Best Recherche Award 2019</h4>
                                    <p>Lorem Ipsum need These cases are perfectly  simple and easy to distinguish. In a free hour, when our power of choice.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single-content-tab">
                                    <h4 class="title">Faculty Gold Medalist 2018</h4>
                                    <p>Lorem Ipsum need These cases are perfectly  simple and easy to distinguish. In a free hour, when our power of choice.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single-content-tab">
                                    <h4 class="title">Best Teacher Award 2015</h4>
                                    <p>Lorem Ipsum need These cases are perfectly  simple and easy to distinguish. In a free hour, when our power of choice.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> -->
        </div>
    </section>

    <!--====== Teacher Details Ends ======-->
    
   <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->

</body>

</html>
