<!doctype html>
<html class="no-js" lang="en">

<!--====== Head Start ======-->

  <%- include('partials/header') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" 
        style="background-image: url(/assets/images/bg/choir-lead.jpg);">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">Our Tutors</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Teachers Start ======-->

    <section class="teachers-page">
        <div class="container">
            <div class="row teachers-row">
                                
                <%  allTutors.forEach(function(tutor){ %> 
                <div class="col-md-4 col-sm-6 teachers-col">
                    <div class="single-teacher mt-80 text-center">
                        <% tutor.contact.forEach(function(i){ %>
                        <div class="teacher-social">
                            <ul class="social">
                                <li><a href="<%= i.fb %>"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="<%= i.twitter%>"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="<%= i.ig %>"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <% }) %>
                        <div class="teacher-image">
                            <a href="tutors/<%= tutor.name %>">
                                <img src="/assets/images/teachers/<%= tutor.image %>" alt="teacher">
                            </a>
                        </div>
                        <div class="teacher-content">
                            <h4 class="name"><a href="tutors/<%= tutor.name %>"><%= tutor.fullname%></a></h4>
                            <span class="designation"><%= tutor.role%></span>
                        </div>
                    </div>
                </div>
                <%}) %>
                                                
            </div>
        </div>
    </section>

    <!--====== Teachers Ends ======-->

   <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->

</body>

</html>
